* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
$border: 1px solid red;

.container {
  width: 100%;
  height: 100vh;
  .header {
    width: 100%;
    height: 100%;
    background-color: #9a9a9a;
    background-image: url(./img/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    .header-item {
      width: 22%;
      height: 42%;
      background-color: black;
      border-radius: 10px;
      padding: 20px;
      transform: translateY(150px);
      margin-left: 200px;

      .hi-header {
        width: 100%;
        height: 60px;
        padding-top: 10px;
        h4 {
          color: red;
        }
        h3 {
          color: wheat;
        }
      }
      .hi-body {
        width: 100%;
        height: auto;
        .hi-body-i {
          width: 100%;
          height: 40px;
          border-bottom: 2px solid #9a9a9a;
          input {
            width: 100%;
            height: 100%;
            outline: none;
            border: none;
            background-color: transparent;
            color: white;
          }
        }
      }
      .hi-button {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        button {
          width: 80%;
          height: 40px;
          background-color: red;
          color: white;
          margin: 15px 0;
          border: none;
          outline: none;
          cursor: pointer;
          border-radius: 5px;
        }
      }
    }
    .header-text {
      width: 30%;
      height: 42%;
      transform: translateY(150px);
      font-size: 20px;
      margin-left: 100px;
      color: white;
      display: flex;
      align-items: flex-end;
    }
  }
  .header-2 {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
    background-color: #9a9a9a;
    .h-2-img {
      width: 40%;
      height: 90%;
      img {
        width: 100%;
        height: 100%;
        padding-bottom: 13px;
      }
    }
    .h-2-text {
      width: 40%;
      height: 90%;
      color: white;
      margin-left: -80px;
      padding-top: 70px;
      h2 {
        font-size: 45px;
        margin-bottom: 10px;
      }
      .h-2-assab {
        width: 100%;
        height: auto;
        margin-top: 20px;
        display: flex;
        align-items: center;
        margin: 30px 0;
        i {
          padding: 15px;
          background-color: black;
          border-radius: 50%;
          font-size: 25px;
        }
        div {
          width: 40px;
          height: 2px;
          background-color: black;
        }
      }
      h5 {
        font-size: 18px;
      }
      .h5 {
        margin-top: 10px;
      }
    }
  }
  .build {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    .img {
      width: 50%;
      height: 100%;
      img {
        width: 100%;
        height: 100%;
      }
    }
    .text {
      width: 50%;
      height: 100%;
      position: relative;
      background-color: black;
      display: flex;
      .text-item {
        width: 65%;
        height: 100%;
        color: white;
        padding-top: 100px;
        display: flex;
        flex-wrap: wrap;
        h1 {
          font-size: 60px;
        }
        h3 {
          font-size: 25px;
          margin-top: -50px;
        }
      }
      .i1 {
        width: 35%;
        height: 100%;
      }
    }
    .rotate {
      width: 40px;
      height: 40px;
      position: absolute;
      transform: rotate(45deg);
      background-color: black;
      margin-top: -400px;
    }
  }
  .img-block {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;

    .img-box {
      width: 33.3333333%;
      height: 50%;
      img {
        width: 100%;
        height: 100%;
      }
    }
  }
  .chain {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(
        180deg,
        rgba(56, 54, 59, 0.603),
        rgba(83, 82, 85, 0.582)
      ),
      url(./img-box/Dedicated-team.jpeg);
    .block-box {
      width: 70%;
      height: 450px;
      .text-white-box {
        width: 100%;
        height: 110px;
        display: flex;
        justify-content: space-around;
        align-items: flex-end;
        .box-text {
          text-align: center;
        }
      }
      .white-box {
        width: 100%;
        height: 40px;
        display: flex;
        justify-content: space-around;
        align-items: flex-end;
        .box {
          width: 30px;
          height: 30px;
          border-radius: 50%;
          background-color: white;
        }
      }
      .span-box {
        width: 100%;
        height: 150px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        .span {
          width: 2px;
          height: 190px;
          background-color: gray;
        }
        .rot-left {
          transform: rotate(40deg);
        }
        .rot-right {
          transform: rotate(-40deg);
        }
      }
      .red-box {
        width: 100%;
        height: 40px;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        .box {
          width: 30px;
          height: 30px;
          border-radius: 50%;
          background-color: red;
        }
        .ml {
          transform: translateX(-5px);
        }
        .mb {
          transform: translateX(5px);
        }
      }
      .text-red-box {
        width: 110%;
        height: 110px;
        display: flex;
        justify-content: space-between;
        transform: translateX(-40px);
        .box-text {
          text-align: center;
        }
      }
    }
  }
  .deer-block {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .text-deer {
      width: 40%;
      height: 100%;
      display: flex;
      .deer-item {
        width: 40%;
        height: 100%;
      }
      .deer-item-2 {
        display: flex;
        flex-wrap: wrap;
        width: 60%;
        height: 100%;
        font-size: x-large;
        padding: 30px;
        h1 {
          transform: translateY(35px);
        }
        h2 {
          font-size: 26px;
          color: gray;
          margin-top: 50px;
        }
      }
    }
    .img-deer {
      width: 60%;
      height: 100%;
      display: flex;
      justify-content: start;
      align-items: center;
      img {
        width: 80%;
        height: 75%;
        margin-left: 70px;
      }
    }
  }
  .text-block {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .header-box {
      width: 100%;
      height: 70px;
      margin-top: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .text-body {
      width: 70%;
      height: 350px;
      display: flex;
      justify-content: space-between;
      .box {
        width: 30%;
        height: 100%;
       &:hover {
        box-shadow: 0px 0px 22px 6px rgba(0, 0, 0, 0.2);
       }
        .card-text-body {
          text-align: center;
          margin-top: 30px;
          h4 {
            margin-top: 10px;
          }
          button {
            width: 60%;
            height: 40px;
            border: none;
            outline: none;
            cursor: pointer;
            background-color: #9a9a9a;
            color: white;
            border-radius: 5px;
            margin-top: 20px;
          }
        }
        .circle {
          width: 100%;
          height: auto;
          display: flex;
          justify-content: center;

          .circle-box{
            width: 100px;
            height: 100px;
            border-radius: 50%;
            margin: 20px 0;
            text-align: center;
            background-color: white;
            img {
              width: 100%;
              height: 100%;
              border-radius: 50%;
            }
          }
        }
      }
    }
  }
}
